
<form #todo="ngForm" (ngSubmit)="onSubmit(data)" novalidate>

    <h2 md-dialog-title>{{data.title}}</h2>
    <h2 md-dialog-title></h2>

    <md-input-container class="example-full-width input-width">
        <input mdInput
               required
               name="title"
               [(ngModel)]="data.title"
               #todoTitle="ngModel"
               placeholder="Todo title">
    </md-input-container>

    <md-input-container class="example-full-width input-width">
        <textarea mdInput
                  name="content"
                  [(ngModel)]="data.content"
                  placeholder="Todo content...">额, 如题(⊙o⊙)…</textarea>
    </md-input-container>

    <md-input-container>
        <button mdSuffix [mdDatepickerToggle]="todoPicker"></button>
        <input class="example-full-width input-width" mdInput
               required
               [(ngModel)]="data.time"
               name="time"
               [mdDatepicker]="todoPicker"
               [mdDatepickerFilter]="myFilter"
               [min]="minDate"
               [max]="maxDate"
               placeholder="开始时间">
    </md-input-container>
    <md-datepicker #todoPicker></md-datepicker>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="City">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="State">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="example-full-width">
                    <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                    <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                </md-input-container>
            </td>
        </tr>
    </table>

    <md-dialog-content class="text-center">确认添加?</md-dialog-content>
    <md-dialog-actions class="text-center button-center">
        <button type="submit" [disabled]="todo.invalid" md-button>确认</button>
        <button md-button md-dialog-close>取消</button>
    </md-dialog-actions>
</form>