form {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
    width: 100%;
}

.input-width {
    width: 80%;
}

.text-center {
    text-align: center;
}
.button-center {
    display: list-item;
}